
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap');


body {
    font-family: 'Roboto', 'Arial';
    font-weight:100;
    color: #4d4d4d;
    /*letter-spacing: 2px;*/
}

.header {
    height:125px;
}

.home {
    height: 675px; 
    background: #FFEB00;
}

/*.main-image {
    background: #FFEB00 url(images/home_header.png) right bottom no-repeat;
    background-size: 50%;
}*/

#headline_row {
    height:100%;
}

.headline{
    font-size: 4em;
    line-height: 1.2em;
}

.nav {
    font-weight:400;
}
a:link {
    color: #4d4d4d;
    
}

a:hover{

    color:#4EB9B1;
}

#social-links {
    text-align: center;
    /*width: 300px;
    border:1px solid green;
    display:block;*/
}
#social-links li a {
    width:30px;
/*    margin-right:30px;*/    
    height:30px;
    background-size:28px;
    background-repeat:no-repeat;
    background-position: center;
    /*border:1px solid blue;*/
    display:block;
}

#social-instagram a {
    background-image: url(images/Icon-awesome-instagram.png);

}
#social-instagram a:hover {
    background-image: url(images/Icon-awesome-instagram-hover.png);
}
#social-behance a {
    background-image: url(images/Icon-awesome-behance-square.png);
}
#social-behance a:hover {
    background-image: url(images/Icon-awesome-behance-square-hover.png);
}

#social-linkedin a {
    background-image: url(images/Icon-awesome-linkedin.png);
}
#social-linkedin a:hover {
    background-image: url(images/Icon-awesome-linkedin-hover.png);
}

.home-image {
    background: url(images/home_header.png) no-repeat center bottom;
    background-size: 100%;
    height:100%;
}

.about {

    background: #D5688D;
}

h1{
    font-weight: 100;
    text-transform: uppercase;

}

.white {
    color:#fff;
}

.card {
    background: none;
    border:none;
}

.card img {
width:50%;
    text-align: center;
    background: #fff;
    border-radius: 50%;
}
.card-title {
    text-transform: uppercase;
    font-weight: 400;
}
/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 360px) {
    .headline{
        font-size: 3em;
    }
}
