
 @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400,500&display=swap');

html {
    height: 100%;
    overflow-x: hidden;

}

body {
    font-family: 'Roboto', 'Arial';
    font-weight:100;
    color: #4d4d4d;
    letter-spacing: 1px;
    height:100%;
    overflow-x: hidden;
    
}

.header {
    height:125px;
    background: #FFF;
}

.home {
    height: 675px; 
    background: #FFEB00;
}

/*.main-image {
    background: #FFEB00 url(images/home_header.png) right bottom no-repeat;
    background-size: 50%;
}*/

#headline_row {
    height:100%;
}

.headline{
    font-size: 4em;
    line-height: 1.2em;
}

.nav {
    font-weight:400;
}
a:link {
    color: #4d4d4d; 
}

a:hover{
    color:#4EB9B1;
}

a:visited {
    color: #4d4d4d;
}

#about-container, #porfolio-container, #porfolio-container-2, #porfolio-container-3, #contactform{
    height:100%;
}

#social-links {
    text-align: center;
    /*width: 300px;
    border:1px solid green;
    display:block;*/
}
#social-links li a {
    width:30px;
/*    margin-right:30px;*/    
    height:30px;
    background-size:28px;
    background-repeat:no-repeat;
    background-position: center;
    /*border:1px solid blue;*/
    display:block;
}

#social-instagram a {
    background-image: url(images/Icon-awesome-instagram.png);

}
#social-instagram a:hover {
    background-image: url(images/Icon-awesome-instagram-hover.png);
}
#social-behance a {
    background-image: url(images/Icon-awesome-behance-square.png);
}
#social-behance a:hover {
    background-image: url(images/Icon-awesome-behance-square-hover.png);
}

#social-linkedin a {
    background-image: url(images/Icon-awesome-linkedin.png);
}
#social-linkedin a:hover {
    background-image: url(images/Icon-awesome-linkedin-hover.png);
}

.home-image {
    background: url(images/home_header.png) no-repeat center bottom;
    background-size: 100%;
    height:100%;
}

.about {
    background: #D5688D;
    height:100%;
    min-height:100%;
}



h1, h3{
    font-weight: 100;
    text-transform: uppercase;
}

h2{
    font-weight:100;
    text-transform: uppercase;
}

.white {
    color:#fff;
}

.yellow {
    color:#FFEB00;
}

.card {
    background: none;
    border:none;
}

.about .card img {
    width:50%;
    text-align: center;
    background: #fff;
    border-radius: 50%;
}

.card-title {
    text-transform: uppercase;
    font-weight: 400;
}

.portfolio{
    height:100%;
    min-height:100%;
    background-color:#4EB9B1;
}

.portfolio .card img{
    /*width:205px;*/
    background:#000;
    overflow:hidden;

}

.card-number {    
    font-style:oblique;
}


.contact{
    height:100%;
    min-height:100%;
    background-color:#F2880C;
}


.btn, .btn-primary {
    background-color:#FFEB00;
    border:none;
}

a.btn:link, a.btn:visited {
    color:#4EB9B1;
}

a.btn:hover{
    background-color: #4EB9B1;
    color:#FFF;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
/* @media screen and (max-width: 360px) {
    .headline{
        font-size: 3em;
    }
} */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    html{
        height:auto;
    }

    body {
        height:auto;
    }
    .home {
        height: auto; 
    }

    #about-container, #porfolio-container, #porfolio-container-2, #porfolio-container-3{
        height:auto;
    }
    
    .header {
        height:200px;
    }

    .headline{
        font-size: 10vw;
        margin-top:1em;
    } 

    .home-image {
        background: url(images/home_header.png) no-repeat center bottom;
        background-size: 100%;
        height:500px;
    }
    .about .card img {
        width:60%;
        text-align: center;
        background: #fff;
        border-radius: 50%;
    }

    .nav li {
        display:block;
        width:100%;
        line-height:0.8em;
    }

    .nav li a{
        display:block;
        width:100%;
    } 

    .portfolio{
        padding-top:1em;
    }

}
